.info {
  text-align: center;
  margin-top: 200px;
}

.settings span {
  background-color: rgb(226, 226, 226);
  display: inline-block;
  margin-left: 20px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.settings span:hover {
  background-color: rgb(206, 206, 206);
}

.settings {
  padding: 20px;
}

input {
  height: 30px;
  width: 250px;
  border: solid 2px rgb(156, 156, 255);
  margin-bottom: 10px;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
  font-family: Verdana;
}

.alfelements {
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px;
  background-color: #ffffff;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
  font-size: 14px;
}

.alfelements:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.9);
  font-size: 15;
}

.alfafit {
  width: 300px;
  text-align: center;
  margin-left: 33%;
  margin-top: 100px;
}

.wors {
  margin-bottom: 30px;
  padding: 30px;
  width: 750px;
  border-radius: 3px 10px 3px 3px;
  background-color: rgb(235, 219, 170);
  box-shadow: 0 0 2.5px -1px black;
  height: 320px;
}

.levels {
  display: block;
  color: #e6e6e6;
  border-radius: 5px;
  margin: 0px 20px 0px 0px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 120px;
  box-shadow: 0 0 3.5px -1px rgb(207, 0, 0);
}

.levels:hover {
  background-color: rgb(255, 0, 0);
  transition: all ease-in-out 0.4s;
}

.levelsChoosen {
  color: #ffffff;
  display: block;
  width: 120px;
  border-radius: 5px;
  margin: 0 20px 10px 0px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  color: black;
}

.nav {
  height: 80px;
  margin: 10px;
  border-radius: 10px 3px 3px 10px;
  position: absolute;
  margin-left: 443px;
  margin-top: 57px;
  height: 625px;
  width: 160px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 2.5px -1px black;
  background-color: #fc9380;
}

.chooseLevel {
  font-size: 25px;
  width: 235px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}
br .a {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 5px;
}

.a:hover {
  background-color: rgb(240, 239, 239);
}

.errorsZone {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 3px 3px 10px 0;
  margin-top: -18px;
  font-size: larger;
  position: absolute;
  margin-left: 0px;
  height: 233px;
  width: 790px;
  box-shadow: 0 0 2.5px -1px black;
}

.error {
  margin-top: 15px;
  margin-bottom: 19px;
  background-color: rgb(243, 213, 208);
  color: red;
  padding: 8px 15px 15px 5px;
  border-radius: 15px;
  height: 30px;
  margin-left: -50px;
  width: 150px;
  display: inline-block;
  box-shadow: 3px 5px 3px 0px rgb(0, 0, 0, 0.5);
}

.limitZone {
  margin: 0px 0 7px 0;
  background-color: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 25px;
  height: 190px;
}

.errorNum {
  width: 20px;
  font-weight: bold;
  padding: 3px 6px 2px 6px;
  border-radius: 5px;
  font-size: 26px;
  margin: 0 3px 0 3px;
}

.limit {
  background-color: #56c6e9;
  padding: 8px 5px 15px 15px;
  border-radius: 15px;
  height: 30px;
  display: block;
  margin-top: 10px;
  width: 210px;
  margin-left: 26px;
  box-shadow: 3px 5px 3px 0px rgb(0, 0, 0, 0.5);
}

.winsloses {
  height: 210px;
  background-color: rgb(231, 231, 231);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.wins {
  background-color: #ffffff;
  margin: 30px 0 3px 0;
  height: 50px;
  padding: 10px 0px 0px 10px;
  border-radius: 25px;
}

.loses {
  background-color: #ffffff;
  margin: 30px 0 3px 0;
  color: red;
  height: 50px;
  padding: 10px 0px 0px 10px;
  border-radius: 25px;
}

.oposite {
  opacity: 0.9;
}

.loseAll {
  font-size: larger;
  background-color: rgba(236, 35, 0, 0.9);
  color: rgb(255, 255, 255);
  padding: 15px 0px 15px 0px;
  border-radius: 5px;
  font-size: bold;
}

.guessedAll {
  font-size: larger;
  background-color: rgb(88, 216, 88);
  color: rgb(255, 255, 255);
  padding: 15px 0px 15px 0px;
  border-radius: 5px;
  font-size: bold;
}

.onemore {
  padding: 10px 10px 10px 10px;
  background-color: rgb(247, 247, 247);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35.5%;
  margin-top: 19px;
  box-shadow: 2px 3px 1px 2px rgb(0, 0, 0, 0.3);
}

.onemore:hover {
  background-color: rgb(243, 243, 243);
  color: black;
  box-shadow: 1px 1px 1px 0px rgb(0, 0, 0, 0.6);
}

.kubiki {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid 2px black;
  margin-right: 2px;
  background-color: #fff;
  color: black;
  font-family: "Dancing Script", cursive;
}

.kubikiGuessed {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: solid 2px black;
  margin-right: 2px;
  background-color: rgb(255, 255, 110);
  color: black;
  font-family: "Dancing Script", cursive;
}

.kubikihide {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid 2px black;
  margin-right: 2px;
  background-color: white;
  font-family: "Dancing Script", cursive;
  color: white;
}

.hide {
  height: 40px;
}

.zagadka {
  padding: 10px;
  word-break: break-all;
  background-color: rgb(255, 255, 255);
  margin: 25px 0 25px 0;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 3.5px -1px rgb(0, 0, 0, 0.7);
  font-size: large;
}

.next {
  padding: 10px 10px 10px 10px;
  background-color: rgb(247, 247, 247);
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35.5%;
  margin-top: 35px;
  box-shadow: 2px 3px 1px 2px rgb(0, 0, 0, 0.4);
  font-weight: bold;
}
.guesed {
  font-size: larger;
  font-weight: bold;
}

.next:hover {
  background-color: rgb(243, 243, 243);
  color: black;
  box-shadow: 1px 1px 1px 0px rgb(0, 0, 0, 0.6);
}

.guesedZone {
  margin-bottom: 10px;
}
.wordguest {
  margin-bottom: 10px;
  width: 100%;
}
.alfelementsBlock {
  background-color: rgb(97, 97, 97);
  padding: 10px;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 2px 5px 3px 0 rgb(0, 0, 0, 0.9);
}

.smile {
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 0 black;
  margin: 0 15px 0 15px;
  margin-bottom: -20px;
}

.h2 {
  display: inline-block;
  border-radius: 5px;
  font-weight: normal;
  margin-left: 299px;
  color: rgb(0, 0, 0, 0.7);
  font-size: 30px;
  font-weight: bold;
  width: 200px;
}

.down {
  width: 39px;
  border-radius: 50%;
  float: right;
  margin: -1px 15px 0 5px;
  box-shadow: 2px 4px 2px 0px rgb(0, 0, 0, 0.5);
}

.up {
  width: 39px;
  border-radius: 50%;
  float: right;
  margin: -1px 15px 0 5px;
  box-shadow: 2px 4px 2px 0px rgb(0, 0, 0, 0.5);
}

.leterdis {
  opacity: 0.3;
}
